<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="div_table">
<% if @evaluations.length != 0 %>

  <div class="row head_row">
    <div class="col-md-2"><%= sortable "course_name", "Course Name" %></div>
    <div class="col-md-2"><%= sortable "course_num", "Course Number" %></div>
    <div class="col-md-2"><%= sortable "professors.name", "Professor Name" %></div>
    <div class="col-md-2"><%= sortable "semesters.name", "Semester Name" %></div>
    <div class="col-md-2"><%= sortable "course_score" %></div>
    <div class="col-md-2"><%= sortable "teacher_score" %></div>
  </div>
  <% @evaluations.each do |evaluation| %>
    <div class"outer-container">
      <div class="row course_eval_row">
        <div class="col-md-2"><%= evaluation.course.name %></div>
        <div class="col-md-2"><%= evaluation.course_num %></div>
        <div class="col-md-2">---</div>
        <div class="col-md-2">---</div>
        <div class="col-md-2"><%= evaluation.average_course_score.truncate(2) %></div>
        <div class="col-md-2"><%= evaluation.average_teacher_score.truncate(2) %></div>
      </div>
      <div class="professor_rows" style="display:none;">
        <% evaluation.get_professor_data.each do |profEval| %>
          <div class="row professor_row">
            <div class="col-md-2"><%= evaluation.course.name %></div>
            <div class="col-md-2"><%= evaluation.course_num %></div>
            <div class="col-md-2"><%= profEval.professor.name %></div>
            <div class="col-md-2">---</div>
            <div class="col-md-2"><%= profEval.average_course_score.truncate(2) %></div>
            <div class="col-md-2"><%= profEval.average_teacher_score.truncate(2) %></div>
          </div>
        <% end %>
      </div>
    </div>
  <%end %>
  <%= will_paginate @evaluations %>
<% end %>
</div>
