<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :main_column , params[:main_column] %>
<% if @evaluations %>
  <div class="div_table">
    <% if @evaluations.length != 0 %>

      <div class="row head_row">
        <div class="col-md-3"><%= sortable "course_name", "Course Name" %></div>
        <div class="col-md-2"><%= sortable "course_num", "Course Number" %></div>
        <div class="col-md-3"><%= sortable "professors.name", "Instructor" %></div>
        <div class="col-md-2"><%= sortable "average_course_score", "Course Score" %></div>
        <div class="col-md-2"><%= sortable "average_professor_score", "Instructor Score" %></div>
      </div>
      <% if params[:main_column] == "Professor" %>
        <% @evaluations.each do |evaluation| %>
          <% if evaluation.professor.department.opt_out == FALSE && evaluation.professor.opt_out == FALSE %>
            <div class="outer-container">
              <div class="row course_eval_row">
                <div class="col-md-3">---</div>
                <div class="col-md-2">---</div>
                <div class="col-md-3"><%= evaluation.professor.name %></div>
                <div class="col-md-2"><%= evaluation.average_course_score.truncate(2) %></div>
                <div class="col-md-2"><%= evaluation.average_professor_score.truncate(2) %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @evaluations.each do |evaluation| %>
          <% if evaluation.course.department.opt_out == FALSE && evaluation.get_professor_data.length >= 1 && evaluation.get_professor_data[0].professor.opt_out == FALSE%>
            <div class"outer-container">
              <div class="row course_eval_row">
                <div class="col-md-3"><%= evaluation.course.name %></div>
                <div class="col-md-2"><%= evaluation.course_num %></div>
                <div class="col-md-3">---</div>
                <div class="col-md-2"><%= evaluation.average_course_score.truncate(2) %></div>
                <div class="col-md-2"><%= evaluation.average_professor_score.truncate(2) %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %> 
    <% end %>
  </div>
  <%= will_paginate @evaluations %>
<% end %>
