<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<% if @evaluations.length != 0 %>
<table>
  <thead>
    <tr>
      <th><%= sortable "courses.name", "Course Name" %></th>
      <th><%= sortable "courses.course_num", "Course Number" %></th>
      <th><%= sortable "professors.name", "Professor Name" %></th>
      <th><%= sortable "course_score" %></th>
      <th><%= sortable "teacher_score" %></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.course.name %></td>
        <td><%= evaluation.course.course_num %></td>
        <td><%= evaluation.professor.name %></td>
        <td><%= evaluation.course_score %></td>
        <td><%= evaluation.teacher_score %></td>
        <!--<td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @evaluations %>
<% end %>

