<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :main_column , params[:main_column] %>
<% if @evaluations %>
  <div class="div_table">
    <% if @evaluations.length != 0 %>

      <div class="row head_row">
        <div class="col-md-3"><%= sortable "course_name", "Course Name" %></div>
        <div class="col-md-2"><%= sortable "course_num", "Course Number" %></div>
        <div class="col-md-3"><%= sortable "professor_name", "Instructor" %></div>
        <div class="col-md-2"><%= sortable "average_course_score", "Course Score" %></div>
        <div class="col-md-2"><%= sortable "average_professor_score", "Instructor Score" %></div>
      </div>
      <% if params[:main_column] == "Professor" %>
        <% @evaluations.each do |evaluation| %>
          <div class="outer-container">
            <div class="row course_eval_row" data-id="<%= evaluation.professor_id %>">
              <div class="col-md-3">---</div>
              <div class="col-md-2">---</div>
              <div class="col-md-3"><%= evaluation.professor_name %></div>
              <div class="col-md-2"><%= evaluation.average_course_score.truncate(2) %> <span class="responses">(<%= evaluation.total_course_reviews.to_s + "/" + evaluation.total_enrollment.to_s %>)</span></div>
              <div class="col-md-2"><%= evaluation.average_professor_score.truncate(2) %><span class="responses">(<%= evaluation.total_course_reviews.to_s + "/" + evaluation.total_enrollment.to_s %>)</span></div>
            </div>
            <div class="professor_rows" id="course_row_<%= evaluation.professor_id %>" style="display:none;">
            </div>
          </div>
        <% end %>
      <% else %>
        <% @evaluations.each do |evaluation| %>
          <div class"outer-container">
            <div class="row course_eval_row" data-id="<%= evaluation.course_id %>">
              <div class="col-md-3"><%= evaluation.course_name %></div>
              <div class="col-md-2"><%= evaluation.course_num %></div>
              <div class="col-md-3">---</div>
              <div class="col-md-2"><%= evaluation.average_course_score.truncate(2) %> <span class="responses">(<%= evaluation.total_course_reviews.to_s + "/" + evaluation.total_enrollment.to_s %>)</span></div>
              <div class="col-md-2"><%= evaluation.average_professor_score.truncate(2) %><span class="responses">(<%= evaluation.total_course_reviews.to_s + "/" + evaluation.total_enrollment.to_s %>)</span></div>
            </div>
            <div class="professor_rows" id="professor_row_<%= evaluation.course_id %>"  style="display:none;">
            </div>
          </div>
        <% end %>
      <% end %> 
    <% end %>
  </div>
  <%= will_paginate @evaluations %>
<% end %>
